<form class="flex justify-end mr-5 mt-4 mb-0" action="/favourite" method="post">
    <button title="Add to Favourite">тнР</button>
    <input type="text" name="houseId" hidden value="<%= house.houseId %>">
</form>