<form class="flex justify-end mr-5 mt-4 mb-0" action="/removefavourite" method="post">
    <button title="Remove to Favourite">❌</button>
    <input type="text" name="houseId" hidden value="<%= house.houseId %>">
</form>