<!-- Navbar -->
<nav class="bg-red-500 shadow-md px-6 py-4 flex items-center justify-between">
    <div class="text-2xl font-bold text-white">
        <a href="/">ARBAZ</a>
    </div>

    <ul class="hidden md:flex space-x-6 font-medium">
        <li>
            <a href="/" class="relative text-white group">
                Home
                <span class="absolute left-0 bottom-0 w-0 h-0.5 bg-white transition-all duration-300 group-hover:w-full"></span>
            </a>
        </li>
        <!-- <li>
            <a href="/about" class="relative text-white group">
                About
                <span class="absolute left-0 bottom-0 w-0 h-0.5 bg-white transition-all duration-300 group-hover:w-full"></span>
            </a>
        </li> -->
        <li>
            <a href="/contact-us" class="relative text-white group">
                Contact Us
                <span class="absolute left-0 bottom-0 w-0 h-0.5 bg-white transition-all duration-300 group-hover:w-full"></span>
            </a>
        </li>
        <li>
            <% if(req.url != '/contact-us' && !req.method != 'POST') { %>
            <a href="/registered-homes" class="relative text-white group">
                Registered Houses
                <span class="absolute left-0 bottom-0 w-0 h-0.5 bg-white transition-all duration-300 group-hover:w-full"></span>
            </a>
            <% } %>

        </li>
    </ul>
</nav>